.para1 {
    font-size: 2rem;
    color: #232121;
    margin: 10px 0;
    text-align: justify;
    font-family:Georgia, serif;
    padding: 30px;
}
.head{
    text-align: center;
    font-family:Georgia, serif;

}